h1, h2, h3, h4, h5, h6 {
    font-family: 'Garamond', serif; 
   font-weight: normal; 
   font-style: normal; 
    color: #e20074;
}

.book.font-family-1 {
    font-family: "Arial", sans-serif;
    font-weight: normal; 
   font-style: normal; 
   
}

body { 
font-family: "Arial", sans-serif;
font-weight: normal;
font-style: normal;
}



h2 {
    border-top: thin solid #9b9b9b;
}

.page-break {
  page-break-after: always;
}